*{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  
}

.loginpage{
  margin-top: 200px;
}

.register {
  margin-top: 90px;
}

.react-confirm-alert-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.react-confirm-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.react-confirm-alert > .react-confirm-alert-button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.react-confirm-alert-button-group > button {
  margin: 0 10px;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.not-found h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.not-found p {
  font-size: 1.5rem;
}

.myCard {
  margin-top: 150px;
  color: black;
}

.hey{
  margin-top: 150px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-top: 150px;
  text-align: center;
  table-layout: fixed;
}

.product-table th,
.product-table td {
  padding: 8px;
  border: 1px solid #ddd;
  width: 12.5%; /* Equal width for each column */
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.product-table td img {
  max-width: 100px; /* Limit the width of the product image */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.container-dashboard{
  margin-top: 100px;
}

.break-word {
  word-wrap: break-word;
  white-space: normal;
}


/*Card*/

.myCard {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
}

.innerCard {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  transform-origin: center;
}

.innerCard.is-flipped {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eee;
}

.backSide {
  transform: rotateY(180deg);
  background-color: #fff;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.orderButton,
.checkoutButton {
  padding: 10px 20px;
  margin: 5px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.orderButton:hover,
.checkoutButton:hover {
  background-color: #333;
}

.AddButton {
  margin-top: 150px;
  margin-left: 300px;
}

.orderhistory {
  margin-top: 150px;
}

.addToCart {
  margin-top: 150px;
}